.moto {
  background: linear-gradient(
    to bottom,
    var(--clr-primary-10) 75%,
    var(--clr-grey-10) 25%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  padding: 3.2rem 4rem;
  margin-bottom: 4.4rem;
}

.moto-text {
  color: var(--clr-primary-1);
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  /* display: grid;
  grid-template-columns: repeat(2, 1fr); */
  margin-bottom: 3.2rem;
}

.moto-text h3 {
  color: inherit;
  width: 50%;
}

.moto-text p {
  color: var(--clr-primary-3);
  width: 50%;
  font-size: 1rem;
}

.moto .cards {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
}

@media screen and (max-width: 720px) {
  .moto {
    background: linear-gradient(
      to bottom,
      var(--clr-primary-10) 100%,
      var(--clr-grey-10) 0%
    );
  }

  .moto .cards {
    flex-wrap: wrap;
  }

  .moto-text {
    flex-direction: column;
  }
  .moto-text p,
  .moto-text h3 {
    width: 100%;
  }
}
